{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/crypto-bg.jpg ')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 style="display: flex;justify-content: center;">MA SUPPORT</h1>
                    
                </div>
            </div>
        </div>
    </div>
</header>
        
<style>
    .btn{
        opacity: 0.6;
        transition: 0.3s;
        
    }
    .btn:hover{
        opacity: 1;
    }
</style>
      
        <!-- Post Content-->
        <br>
    
        <body style="background-color: lightblue;">
            <p style="display: flex; justify-content: center; font-size:x-large;">THIS IS THE LIST OF COIN AT SUPPORT LEVEL OF_<span style="color: white;">50EMA AND 13 EMA </span>_ AND IN TIME FRAME OF_<span style="color: white;">15 MINUTES</span> </p>
            <br>
            <div style="display: flex; justify-content: center;"> <h3 style="padding-left: 1vw;">{{analysis_result}}</h3></div>
           
            <br>
            <br>
            <h4 style="display: flex;justify-content: center;">THIS WILL TAKE HARDLY 1 MINUTES TO FETCH NEW DATA AFTER REFRESING PAGE </h4>
            <div style="display: flex; justify-content: center;">
                <a href="/crypto_analysis2"><button  class="btn" style="background-color: goldenrod; color: white; border-radius: 5px;" >REFRESH</button></a>
                <a href="/graph"><button style="border-radius: 5px; margin-left: 1vw;" type="button" class="btn btn-success">BACK</button>  </a>

            </div>

           
        </body>
       

{% endblock %}
