{% extends "layout.html" %} {% block body %}
<header
  class="masthead"
  style="background-image: url('{{url_for('static',filename='assets/img/crypto-bg.jpg ')}}')"
>
  <div class="container position-relative px-4 px-lg-5">

    <div class="">
      <div class="">
        <div class="post-heading">
          <h1 style="display: flex; justify-content: center">Holding Support</h1>
        
        </div>
      </div>
    </div>
  </div>
  
</header>

<h4 style="display: flex; justify-content: center">
  IT WILL HARDLY TAKE 1 MINUTES TO FETCH DATA
</h4>
<div class="wrap">
  <div class="search" style="padding: 10px;">
     <input type="text" style="color: black;" class="searchTerm" id="textarea" placeholder="coins to get current Price (BTCUSDT)">
     <button type="submit" class="searchButton" id="buttonsearch">
       <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="current_price">
    <h5 style="color: white ; display: flex; justify-content: center;" ><span id="title">Btc: </span> <span> &nbsp$ <span id="current_price"> 0000</span></span> </h5>
  </div>
</div>
<div style="display: flex;  flex-direction: column;background-color: red;">
  <div  style="display: flex;  flex-direction: column; background-color: aliceblue; text-align: center;">
    <p>Coins at Support level of 50 MA IN 4 Hour TimeFrame</p>
    <div style="margin: 10px">  <a href="/crypto_analysis"> <button class="btn-5"> click <span class="load loading"></span></button></a>
    </div>


  </div>
 
  <div  style="display: flex;  flex-direction: column; background-color: aliceblue; text-align: center;">
    <p>Coins at Support level of 50 EMA and 13 EMA IN 15 Minute TimeFrame</p>
    <div style="margin: 10px">  <a href="/crypto_analysis2"> <button class="btn-15"> click <span class="load loading"></span></button></a>
    </div>


  </div>
  
  <div  style="display: flex;  flex-direction: column; background-color: aliceblue; text-align: center;">
    <p>Coins at Support level of 100 MA IN 4 Hour TimeFrame</p>
    <div style="margin: 10px">  <a href="/crypto_analysis3"> <button class="btn-14"> click <span class="load loading"></span></button></a>
    </div>


  </div>
 
  
</div>



{% endblock %}
