{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
      
        <header class="masthead" style="background-color:white">
            <div class="container position-relative px-4 px-lg-5 ">

                <div class="container my-3">
                    <h1 style="display: flex; justify-content: center;">Take Your Notes Here</h1>
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body" style="background-color: lightgray;">
                            <h5 class="card-title">Add a note</h5>
                            <div class="form-group">
                                <textarea style="border-radius: 10px;margin-bottom: 10px;" class="form-control" id="addTxt" rows="3"></textarea>
                            </div>
                            <button style="border-radius: 10px;" class="btn-15" id="addBtn">Add Note</button>
                        </div>
                    </div>
                    <br>
                    <div style="display: flex; justify-content: center;">
                        <h1  >Your Notes</h1>
                    </div>
                    
                   
                    <hr>
                    <div id="notes" class="row container-fluid"> </div>
                </div>
                
                
            </div>


        </header>
        <!--pata na kyo script add nahi ho raha hai so yai likha deye
        kam kr gaya finally-->
        
        <!-- Post Content-->
       
        
       

{% endblock %}
