{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/post-bg.jpg ')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading" style="color: aqua;">{{post.tagline}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.name}}</a>
                                {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <strong>BLOCK_CHIAN</strong>
                        <p>Cryptocurrencies of all types make use of distributed ledger technology known as blockchain. Blockchains act as decentralized systems for recording and documenting transactions that take place involving a particular digital currency. Put simply, blockchain is a transaction ledger that maintains identical copies across each member computer within a network. The fact that the ledger is distributed across each part of the network helps to facilitate the security of the blockchain.</p>
                        <h4>Cross-Border Payments</h4>
                        <p>Blockchain technology has the potential to provide a much faster and cheaper alternative to traditional cross-border payments methods. Indeed, while typical money remittance costs might be as high as 20% of the transfer amount, blockchain may allow for costs just a fraction of that, as well as guaranteed and real-time transaction processing speeds. There are hurdles to be passed, including regulation of cryptocurrencies in different parts of the world and security concerns. Nonetheless, this is one of the most promising and talked about areas of blockchain technology application.</p>
                        <h4>Smart Contracts</h4>
                        <p>Smart contracts are often seen as a highly powerful application of blockchain technology. These contracts are actually computer programs that can oversee all aspects of an agreement, from facilitation to execution. When conditions are met, smart contracts can be entirely self-executing and self-enforcing. For proponents of smart contracts, these tools provide a more secure, more automated alternative to traditional contract law, as well as an application that is faster and cheaper than traditional methods.</p>
                        <h4>Identity Management</h4>
                        <p>One of the most problematic results of the internet age has been identity security. As diligent as many individuals and organizations are in maintaining their online identities and securing private information, there are always nefarious actors looking to steal and profit off of these digital items. Blockchain technology has already demonstrated the potential for transforming the way that online identity management takes place. <br> Blockchain offers a tremendous level of security, thanks to independent verification processes that take place throughout member computers on a blockchain network. In digital currency cases, this verification is used to approve transaction blocks before they are added to the chain. This mechanism could just as easily be applied to other types of verification procedures, including identity verification and many other applications as well.</p>
                    </div>
                    <h4>Supply Chain Uses
                    </h4>
                    <p>or many businesses across various industries, a key to success is a well-functioning, efficient supply chain. Blockchain technology has already been used in multiple industries as a means of keeping tabs on supply chains and ensuring their efficiency. This could eliminate human work and the potential for error from a complex and crucial process. <br> At this point, blockchain is a technology with an exceptionally broad set of potential uses. Although blockchain is most famous for its connections to the blossoming cryptocurrency world, several other applications have already been explored.</p>
                    <a href="/posting/{{post.slug}}"></a>
                </div>
            </div>
        </article>
       

{% endblock %}
