{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/post-bg.jpg ')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading" style="color: aqua;">{{post.tagline}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.name}}</a>
                                {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <strong>Blockchain – Technology of The Future</strong>
                  <p>A new technology is redefining the way we interact. If that sounds incredibly far-fetched, that is because it is. It combines the openness of the Internet and the security of Cryptography. It will change the way we interact with each other in our daily lives. It is the underlying technology which was originally developed for a digital currency which created a storm across the world – Bitcoin. The same technology can be used for a wide range of activities in the fields of Banking, Insurance, Supply Chain Management etc.</p>
                    </div>
                    <a href="/posting2/{{post.slug}}"></a>
                </div>
            </div>
        </article>
       

{% endblock %}
