{% extends "layout.html" %}
{% block body %}
<style>
    .color{
        color: green;
        
        
    }
</style>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/post-bg.jpg ')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading" style="color: aqua;">{{post.tagline}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.name}}</a>
                                {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <style>
            .display
            {
                display: none;
            }
           
        </style>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                 
                  <div style="visibility: hidden;" id="postno">{{post.sno}}</div> 
                  {{post.content}}
                  <br>

                  <!--content likhne ka jaghaaaa start-->
                  
                  <div class="display" id="sno1"><span>
                      <h4>This is major Reson why its Popular</h4>
                  <ul>
                      <li>Highly Secure </li>
                      <li>Decentralized System</li>
                      <li>Automation Capability</li>
                  </ul>          
                </span></div>


                <div class="display" id="sno3"><span>
                    <h4>Types of Block_chain</h4>
                <ol>
                    <li>Public Block-Chain </li>
                    <li>Private (or Managed) Blockchains</li>
                    <li>Consortium Blockchains</li>
                    <li>Hybrid blockchains</li>
                </ol>          
              </span></div>

              <div class="display" id="sno2"><span>
               <div>
                   <h4>Cryptography keys consist of two keys </h4>
                   <ul><li>Private key</li>
                   <li>Public key</li></ul>
                   <p> These keys help in performing successful transactions between two parties. Each individual has these two keys, which they use to produce a secure digital identity reference. This secured identity is the most important aspect of Blockchain technology. In the world of cryptocurrency, this identity is referred to as ‘digital signature’ and is used for authorizing and controlling transactions.</p>
                   <p>
                    The digital signature is merged with the peer-to-peer network; a large number of individuals who act as authorities use the digital signature in order to reach a consensus on transactions, among other issues. When they authorize a deal, it is certified by a mathematical verification, which results in a successful secured transaction between the two network-connected parties. So to sum it up, Blockchain users employ cryptography keys to perform different types of digital interactions over the peer-to-peer network.
                   </p>
               
                </div>
          </span></div>

          <div class="display" id="sno5"><span>
            <h4>What is data synchronization and why is it important?</h4>
           <p>Data synchronization is the ongoing process of synchronizing data between two or more devices and updating changes automatically between them to maintain consistency within systems. </p> 
          <h4>Data synchronization: THE KEY TO TRUSTED DATA</h4>
          <P>The importance of data synchronization grows in step with increased accessibility to cloud-based data as well as access to mobile devices. Mobile devices use data for basic operation as well as personal information for apps, websites, and email. Updates to information generated by the user as well as the end target must be constant and secure. This synchronization process requires clean, consistent data for product and service competence, but also for data governance issues like security and regulatory compliance. </P>
          <h4>Exploring data synchronization methods</h4>
          <ol>
              <li>File Synchronization</li>
              <p>Faster and more error-proof than a manual copy technique, this method is most used for home backups, external hard drives, or updating portable data via flash drive. File synchronization ensures that two or more locations share the same data, occurs automatically, and prevents duplication of identical files. </p>
              <li>Version Control</li>
              <p>his technique aims to provide synchronizing solutions for files that can be altered by more than one user at the same time. </p>
              <li>Distributed File Systems</li>
              <p>When multiple file versions must be synced at the same time on different devices, those devices must always be connected for the distributed file system to work. A few of these systems allow devices to disconnect for short periods of time, as long as data reconciliation is implemented before synchronization.</p>
              <li>Mirror Computing</li>
              <p>Mirror computing is used to provide different sources with an exact copy of a data set. Especially useful for backup, mirror computing provides an exact copy to just one other location — source to target.</p>
          </ol>

          
      </span></div>

                  <!--content likhne ka jaghaaaa close-->



                  








                   <script>
                      var postNo=document.getElementById('postno')
                      
                      if(postno.innerHTML=="1")
                       {
                           document.getElementById('sno1').classList.remove("display");
                       }
                       if(postno.innerHTML=="3")
                       {
                           document.getElementById('sno3').classList.remove("display");
                       }
                       if(postno.innerHTML=="2")
                       {
                           document.getElementById('sno2').classList.remove("display");
                       }
                       if(postno.innerHTML=="5")
                       {
                           document.getElementById('sno5').classList.remove("display");
                       }
                   </script>
                   <BR></BR>
                    </div>
                    <ul>
                        <li><a class="color" href="/posting/{{post.slug}}">WHY BLOCK CHAIN IS POPULAR</a></li>
                        <li> <a class="color" href="/posting2/{{post.slug}}">HOW TECHNLOGHY WORK</a></li>
                        <li> <a class="color" href="/types_of_blockchain/{{post.slug}}">TYPES OF BLOCKCHAIN</a></li>
                        <li> <a class="color" href="/git/{{post.slug}}">ALL ABOUT GITHUB</a></li>
                    </ul>
                    
                    
                   

                </div>
            </div>
        </article>
       

{% endblock %}
