{% extends "layout.html" %}
{% block body %}
<style>
    .color{
        color: green;
        
        
    }
</style>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/post-bg.jpg ')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading" style="color: aqua;">{{post.tagline}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.name}}</a>
                                {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                   {{post.content}}
                   <BR></BR>
                    </div>
                    <ul>
                        <li><a class="color" href="/posting/{{post.slug}}">WHY BLOCK CHAIN IS POPULAR</a></li>
                        <li> <a class="color" href="/posting2/{{post.slug}}">HOW TECHNLOGHY WORK</a></li>
                        <li> <a class="color" href="/types_of_blockchain/{{post.slug}}">TYPES OF BLOCKCHAIN</a></li>
                        <li> <a class="color" href="/git/{{post.slug}}">ALL ABOUT GITHUB</a></li>
                    </ul>
                    
                    
                   

                </div>
            </div>
        </article>
       

{% endblock %}
